.flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between
}

.team-data-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
    margin-top: 12px;
}

.pitch-container {
  flex-grow: 2;
  width: 50%;
  text-align: center;
}

.pick-container {
  flex-grow: 1;
  margin: 12px;
}

.container {
  max-height: 700px;
  overflow: auto;
  background-color: white;
}

table {
  width: 100%;
  overflow: auto;
}

.checkbox-cell,
.price-cell,
.points-cell {
  padding-right: 12px;
}

@media (max-width:1700px) {
  .flex {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between
  }

  .container {
    max-height: 500px;
    overflow: auto;
  }

  .pitch-container {
    width: 100%;
  }
}

.filter {
  padding: 6px;
}

.pos {
  margin-right: 18px;
}

button {
  margin-top: 40px;
}

.chips {
  padding: 6px;
}

.chip {
  margin: 3px;
}

.header {
  text-align: center;
}

.team-data {
  text-align: center;
  background-color: white;
  border-left: 1px solid rgb(199, 199, 199);
  width: 100%;
  padding: 8px;
  font-size: 1.1em;
}