<div *ngIf="fantasyTeam && fantasyGame" class="header">
  <h2>{{fantasyTeam.name}} | {{ fantasyGame.competition }} | {{ fantasyGame.name }} game</h2>
</div>

<div class="flex">
  <div class="pitch-container">
    <div class="team-data-container container mat-elevation-z4">
      <div class="team-data">{{fantasyTeam.totalPoints}} points</div>
      <mat-divider></mat-divider>
      <div class="team-data">{{totalPrice}}M / {{gwRules.budget}}M</div>
      <div class="team-data">subs: {{subsMade}} / {{gwRules.substitutions}}</div>
      <div class="team-data">lineup: {{gameWeekData.lineup.length}}</div>
      <div class="team-data">bench: {{gameWeekData.bench.length}}</div>
    </div>
    <app-pitch *ngIf="gameWeekData" [lineup]="gameWeekData.lineup" [bench]="gameWeekData.bench" [isEdit]="true"
      [captainId]="gameWeekData.captainId" (remove)="remove($event)" (open)="open($event)"></app-pitch>
    <button mat-raised-button color="primary" (click)="makeSubs()">Save changes</button>
  </div>
  <div class="pick-container">
    <section class="container mat-elevation-z8" tabindex="0">
      <form *ngIf="gameWeekData" class="chips">
        <mat-form-field appearance="fill" class="team">
          <mat-label>Choose Captain</mat-label>
          <mat-select [(ngModel)]="gameWeekData.captainId" name="captain">
            <mat-option>Choose</mat-option>
            <mat-option *ngFor="let player of gameWeekData.lineup" [value]="player.fantasyPlayerId">
              {{player.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-slide-toggle class="chip" name="wildcard" [(ngModel)]="gameWeekData.wildcardActive"
          [disabled]="!fantasyTeam.wildcardAvailable">
          Wildcard
        </mat-slide-toggle>
        <mat-slide-toggle class="chip" [(ngModel)]="gameWeekData.tripleCaptionActive" name="trippleCaptain"
          [disabled]="!fantasyTeam.tripleCaptionAvailable">
          Tripple captin
        </mat-slide-toggle>
        <mat-slide-toggle class="chip" [(ngModel)]="gameWeekData.benchBoostActive" name="benchBoost"
          [disabled]="!fantasyTeam.benchBoostAvailable">
          Bench boost
        </mat-slide-toggle>
      </form>
    </section>
    <mat-divider></mat-divider>
    <section class="container mat-elevation-z8" tabindex="0">
      <div class="filter">
        <form>
          <mat-button-toggle-group class="pos">
            <mat-button-toggle value="GOALKEEPER" [checked]="filterPosition == 'GOALKEEPER'"
              (change)="filterPos('GOALKEEPER')">GK</mat-button-toggle>
            <mat-button-toggle value="DEFENDER" [checked]="filterPosition == 'DEFENDER'"
              (change)="filterPos('DEFENDER')">DEF</mat-button-toggle>
            <mat-button-toggle value="MIDFIELDER" [checked]="filterPosition == 'MIDFIELDER'"
              (change)="filterPos('MIDFIELDER')">MID</mat-button-toggle>
            <mat-button-toggle value="FORWARD" [checked]="filterPosition == 'FORWARD'"
              (change)="filterPos('FORWARD')">FW</mat-button-toggle>
          </mat-button-toggle-group>
          <mat-form-field appearance="fill" class="team">
            <mat-label>Filter team</mat-label>
            <mat-select [(ngModel)]="filterTeamId" name="team" (selectionChange)="applyFilter()">
              <mat-option>Choose</mat-option>
              <mat-option *ngFor="let team of teams" [value]="team.id">
                {{team.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
          </th>
          <td mat-cell *matCellDef="let row" class="checkbox-cell">
            <mat-checkbox (click)="$event.preventDefault()" (change)="select(row)" [checked]="row.selected">
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name" class="name">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let player"> {{player.name}} </td>
        </ng-container>

        <!-- Team Column -->
        <ng-container matColumnDef="team" class="name">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Team </th>
          <td mat-cell *matCellDef="let player"> {{player.team}} </td>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let player" class="price-cell"> {{player.price}}M</td>
        </ng-container>

        <!-- Points Column -->
        <ng-container matColumnDef="points">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Points </th>
          <td mat-cell *matCellDef="let player" class="points-cell"> {{player.points}} PTS</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="select(row)">
        </tr>
      </table>
    </section>
  </div>
</div>