<h1 *ngIf="fantasyGame">
  Rules for game {{fantasyGame.name}}
</h1>

<div *ngIf="fantasyGame">
  <h2>General rules</h2>
  <ul>
    <li> <mat-checkbox color="primary" [checked]="fantasyGame.bench">Bench</mat-checkbox>
    </li>
    <li><mat-checkbox color="primary" [checked]="fantasyGame.chips.wildcard">Wildcard</mat-checkbox>
    </li>
    <li><mat-checkbox color="primary" [checked]="fantasyGame.chips.tripleCaption">Tripple captain</mat-checkbox>
    </li>
    <li><mat-checkbox color="primary" [checked]="fantasyGame.chips.benchBoost">Bench boost</mat-checkbox>
    </li>
  </ul>
</div>

<h2>Substitutions & budget rules:</h2>
<section *ngIf="fantasyGame" class="container mat-elevation-z4" tabindex="0">
  <table mat-table matSort [dataSource]="gwRules">
    <!-- GW Column -->
    <ng-container matColumnDef="gw" class="name">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> From gameweek </th>
      <td mat-cell *matCellDef="let gwRule"> {{gwRule.gameWeek}} </td>
    </ng-container>
    <!-- substitutions Column -->
    <ng-container matColumnDef="substitutions" class="name">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Substitutions </th>
      <td mat-cell *matCellDef="let gwRule"> {{gwRule.substitutions}} </td>
    </ng-container>

    <!-- budget Column -->
    <ng-container matColumnDef="budget" class="name">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Budget </th>
      <td mat-cell *matCellDef="let gwRule"> {{gwRule.budget}} </td>
    </ng-container>

    <!-- sameTeamPlayers Column -->
    <ng-container matColumnDef="sameTeamPlayers">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> players from the same team </th>
      <td mat-cell *matCellDef="let gwRule"> {{gwRule.sameTeamPlayers}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsGwTable; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsGwTable;">
    </tr>
  </table>
</section>

<h2>Points rules:</h2>

<section *ngIf="fantasyGame" class="container mat-elevation-z4" tabindex="0">
  <table mat-table matSort [dataSource]="pointsRules">
    <!-- GW Column -->
    <ng-container matColumnDef="action" class="name">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let pointRule"> {{pointRule.action | lowercase}} </td>
    </ng-container>
    <!-- substitutions Column -->
    <ng-container matColumnDef="position" class="name">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Position </th>
      <td mat-cell *matCellDef="let pointRule"> {{pointRule.position | lowercase}} </td>
    </ng-container>

    <!-- budget Column -->
    <ng-container matColumnDef="points" class="name">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Points </th>
      <td mat-cell *matCellDef="let pointRule"> {{pointRule.points}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsPointsTable; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsPointsTable;">
    </tr>
  </table>
</section>