th,
td {
  text-align: center;
  padding: 12px !important;
  font-size: 16px;
}

h1 {
  text-align: center;
}

.container {
  margin: 12px 8px;
  width: fit-content;
}

ul {
  list-style-type: none;
}
