<div class="content">
  <h2 class="header">{{dialogData.player.name}}</h2>
  <b>Total points: {{dialogData.player.points}}</b>
  <p>Minutes: {{dialogData.playerStats.minutes}}</p>
  <p>Appearances: {{dialogData.playerStats.appearances}}</p>
  <p>Appearances over 60 minutes: {{dialogData.playerStats.appearancesOver60}}</p>
  <p>Goals: {{dialogData.playerStats.goals}}</p>
  <p>Saves: {{dialogData.playerStats.saves}}</p>
  <p>Assists: {{dialogData.playerStats.assists}}</p>
  <p>OwnGoals: {{dialogData.playerStats.ownGoals}}</p>
  <p>Clean sheets: {{dialogData.playerStats.cleanSheets}}</p>
  <p>Penalties won: {{dialogData.playerStats.penaltiesWon}}</p>
  <p>Penalties caused: {{dialogData.playerStats.penaltiesCaused}}</p>
  <p>Penalties saved: {{dialogData.playerStats.penaltiesSaved}}</p>
  <p>Penalties missed: {{dialogData.playerStats.penaltiesMissed}}</p>
  <p>Yellow cards: {{dialogData.playerStats.yellowCards}}</p>
  <p>Red cards: {{dialogData.playerStats.redCards}}</p>
  <p>MVPs: {{dialogData.playerStats.mvps}}</p>
</div>