<div class="pitch">
  <div class="row">
    <app-player-box *ngFor="let p of gk" [player]="p" class="player" [isCaptain]="captainId == p.fantasyPlayerId"
      [isEdit]="isEdit" (removePlayer)="removePlayer($event)" (open)="click($event)"
      [style.background-image]="'url(https://imagecache.365scores.com/image/upload/Athletes/' + p.playerId + ')'">
    </app-player-box>
  </div>
  <div class="row">
    <app-player-box *ngFor="let p of def" [player]="p" class="player" [isCaptain]="captainId == p.fantasyPlayerId"
      [isEdit]="isEdit" (removePlayer)="removePlayer($event)" (open)="click($event)"
      [style.background-image]="'url(https://imagecache.365scores.com/image/upload/Athletes/' + p.playerId + ')'">
      >
    </app-player-box>
  </div>
  <div class="row">
    <app-player-box *ngFor="let p of mid" [player]="p" class="player" [isCaptain]="captainId == p.fantasyPlayerId"
      [isEdit]="isEdit" (removePlayer)="removePlayer($event)" (open)="click($event)"
      [style.background-image]="'url(https://imagecache.365scores.com/image/upload/Athletes/' + p.playerId + ')'">
      >
    </app-player-box>
  </div>
  <div class="row">
    <app-player-box *ngFor="let p of fw" [player]="p" class="player" [isCaptain]="captainId == p.fantasyPlayerId"
      [isEdit]="isEdit" (removePlayer)="removePlayer($event)" (open)="click($event)"
      [style.background-image]="'url(https://imagecache.365scores.com/image/upload/Athletes/' + p.playerId + ')'">
      ></app-player-box>
  </div>
</div>
<div class="bench-row">
  <div class="row bench">
    <app-player-box *ngFor="let p of bench" [player]="p" class="player" [isCaptain]="captainId == p.fantasyPlayerId"
      [isEdit]="isEdit" (removePlayer)="removePlayer($event)" (open)="click($event)"
      [style.background-image]="'url(https://imagecache.365scores.com/image/upload/Athletes/' + p.playerId + ')'">
      ></app-player-box>
  </div>
</div>