.pitch {
  height: 500px;
  margin: auto;
  background-image: url("../../assets/field.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 678px 500px;
  width: 800px;
  padding-top: 18px;
  margin-top: 12px;
}

.bench-row {
  margin: auto;
  width: 900px;
}

.player {
  height: 90px;
  width: 90px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
  border-radius: 50%;
  position: relative;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  margin-top: 15px;
  margin-left: 80px;
  margin-right: 80px;
}

.bench {
  background-color: rgba(0, 41, 14, 0.192);
  margin-top: 20px;
  padding: 24px;
  border-radius: 6px;
  border: 1px solid #333388;
}

@media (max-width:1180px) {
  .pitch {
    background-size: 600px 460px;
    width: 650px;
    background-image: url("../../assets/field.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
    min-height: 525px;
  }

  .bench-row {
    margin: auto;
    width: 100%;
  }

  .player {
    height: 80px;
    width: 80px;
    border-radius: 40px;
  }

  .row {
    margin-top: 25px;
  }
}

@media (max-width:1000px) {
  .player {
    height: 60px;
    width: 60px;
    border-radius: 35px;
  }

  .pitch {
    width: 100%;
  }

  .row {
    margin-top: 5%;
    margin-left: 60px;
    margin-right: 60px;
  }
}

@media (max-width:900px) {
  .pitch {
    min-height: 400px;
  }

  .player {
    height: 50px;
    width: 50px;
    border-radius: 25px;
  }

  .row {
    margin-top: 5%;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width:600px) {
  .pitch {
    min-height: 400px;
  }
}

@media (min-width:1180px) {
  .pitch {
    height: 450px;
  }
}