<mat-card>
  <mat-card-content>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <h2>Sing Up</h2>
      <mat-error *ngIf="!registerValid">
        error while signing up
      </mat-error>
      <mat-form-field>
        <input matInput placeholder="Email" id="email" type="text" formControlName="email" required>
        <mat-error>
          Please provide a valid email address
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Username" id="username" type="text" formControlName="username" required>
        <mat-error>
          Please provide a valid username
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Password" id="password" type="password" formControlName="password" required>
        <mat-error>
          Please provide a valid password
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="!signupForm.valid">Signup</button>
    </form>
    <div class="link">already registered? <a routerLink="/login">login</a></div>
  </mat-card-content>
</mat-card>