th,
td {
  text-align: left;
  padding: 12px !important;
  font-size: 16px;
}

td {
  padding-left: 16px !important;
}

h2 {
  text-align: center;
}

.container {
  width: fit-content;
  margin: auto;
  margin-top: 12px;
}

table {
  min-width: 600px;
}

@media (max-width:950px) {
  table {
    min-width: 200px;
  }
}