<div class="page">
  <h2>Admin Page</h2>
  <section class="container mat-elevation-z4" tabindex="0">
    <table mat-table matSort [dataSource]="dataSource">
      <!-- user name Column -->
      <ng-container matColumnDef="username" class="name">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> User </th>
        <td mat-cell *matCellDef="let user"> {{user.username}} </td>
      </ng-container>

      <!-- email name Column -->
      <ng-container matColumnDef="email" class="name">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> email </th>
        <td mat-cell *matCellDef="let user"> {{user.email}} </td>
      </ng-container>

      <!-- role Column -->
      <ng-container matColumnDef="role">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Role </th>
        <td mat-cell *matCellDef="let user"> {{user.role}}</td>
      </ng-container>

      <!-- changeRole Column -->
      <ng-container matColumnDef="changeRole" class="name">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let user">
          <button *ngIf="user.role != 'SUPER'" mat-raised-button color="primary" (click)="changeRole(user)" [disabled]="isButtonDisable">
            {{ user.role == 'ADMIN'? 'Change to USER' : 'Change to Admin' }}
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
  </section>
</div>