<div class="page">
  <h2>{{gameName}} Table</h2>
  <section class="container mat-elevation-z4" tabindex="0">
    <table mat-table matSort [dataSource]="dataSource">
      <!-- Rank Column -->
      <ng-container matColumnDef="rank" class="name">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> # </th>
        <td mat-cell *matCellDef="let team"> {{team.rank}} </td>
      </ng-container>
      <!-- user name Column -->
      <ng-container matColumnDef="username" class="name">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> User </th>
        <td mat-cell *matCellDef="let team"> {{team.username}} </td>
      </ng-container>

      <!-- team name Column -->
      <ng-container matColumnDef="name" class="name">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Team name </th>
        <td mat-cell *matCellDef="let team"> {{team.name}} </td>
      </ng-container>

      <!-- points Column -->
      <ng-container matColumnDef="totalPoints">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Points </th>
        <td mat-cell *matCellDef="let team"> {{team.totalPoints}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
  </section>
</div>