<div *ngIf="isAuthenticated; else elseBlock">
  <mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
      <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>
    <div class="title">
      Multi-Fantasy
    </div>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
      <img class="avatar mat-elevation-z8" src="/assets/user.jpg" />

      <h4 class="name">{{username}}</h4>
      <!-- <p class="designation">Software Engineer</p> -->

      <mat-divider></mat-divider>

      <button mat-button class="menu-button" routerLink="/home">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>

      <mat-divider></mat-divider>

      <button mat-button class="menu-button" routerLink="/team">
        <mat-icon>groups</mat-icon>
        <span>Team</span>
      </button>
      <button mat-button class="menu-button" routerLink="/transfers">
        <mat-icon>sync_alt</mat-icon>
        <span>Transfers</span>
      </button>
      <button mat-button class="menu-button" routerLink="/rules">
        <mat-icon>help</mat-icon>
        <span>Rules</span>
      </button>
      <button mat-button class="menu-button" routerLink="/table">
        <mat-icon>format_list_numbered</mat-icon>
        <span>Table</span>
      </button>
      <button *ngIf="role && role == 'SUPER'" mat-button class="menu-button" routerLink="/users">
        <mat-icon>supervisor_account</mat-icon>
        <span>Users</span>
      </button>

      <mat-divider></mat-divider>

      <button (click)="logout()" mat-button class="menu-button">
        <mat-icon>logout</mat-icon>
        <span>logout</span>
      </button>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content mat-elevation-z8">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<ng-template #elseBlock>
  <div class="background">
    <router-outlet></router-outlet>
  </div>
</ng-template>