mat-toolbar {
  background: #002b5c;
  color: white;
}

mat-sidenav {
  margin: 16px;
  width: 250px;
  border-right: none;
  background: #002b5c;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.title {
  text-align: center;
  width: 100%;
}

.background {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #c8ddf5;
  overflow: hidden;
}

.login {
  height: 300px;
  border-radius: 10px;
  margin-left: 32px;
  padding: 16px;
  overflow: hidden;
  background-color: #002b5c;
  color: white;
  top: 32px;
}

.content {
  height: calc(100vh - 162px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;

  padding: 32px;

  overflow: auto;
}

@media (max-width:800px) {
  .content {
    margin: 4px;
    padding: 0;
    height: calc(100vh - 88px);
  }
}

mat-sidenav-container {
  height: calc(100vh - 65px);
  background-image: url("/assets/background2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;

  mat-icon {
    margin-right: 10px;
  }
}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

mat-sidenav-content div {
  background-color: rgba(255, 255, 255, 0.7);
}