<mat-tab-group dynamicHeight (selectedTabChange)="tabChanged($event)">
  <mat-tab *ngFor="let gw of (gameweeks$ | async)" [aria-label]="gw.gw + ''" [label]="'GW ' + gw.gw + ' (' + gw.points + ' PTS)'">
    <app-pitch *ngIf="currentTabGw == gw.gw && (gameWeekData$ | async) as gameWeekData"
     [lineup]="gameWeekData.lineup" 
     [bench]="gameWeekData.bench" 
     [captainId]="gameWeekData.captainId"
     (open)="open($event)"></app-pitch>
  </mat-tab>
</mat-tab-group>