.data {
  background-color: #463e06e1;
}

.name {
  background-color: #01051ace;
}

.row {
  color: white;
  width: fit-content;
  min-width: 100%;
  text-align: center;
  padding: 2px;
}

.remove {
  position: absolute;
  color: #900;
  font-size: 36px;
  cursor: pointer;
}

.captain {
  color: rgb(0, 15, 153);
  font-size: 36px;
  float: right;
}

mat-icon {
  font-weight: bold;
  font-size: 28px;
}

.box {
  padding-top: 65%;
  overflow: visible;
  cursor: pointer;
}

@media (max-width:1180px) {
  .remove {
    font-size: 32px;
  }
}

@media (max-width:1000px) {
  .remove {
    font-size: 28px;
  }
}

@media (max-width:900px) {
  .remove {
    font-size: 24px;
  }
}

@media (max-width:600px) {
  .remove {
    font-size: 20px;
  }
}