<div class="remove" (click)="remove()">
  <mat-icon *ngIf="isEdit">cancel</mat-icon>
</div>
<div *ngIf="isCaptain" class="captain">
  <mat-icon>copyright</mat-icon>
</div>
<div class="box" (click)="click()">
  <div class="row data">{{data}}</div>
  <div class="row name">{{player.name | lastname}}</div>
</div>
