<app-page-header header="MY FANTASY TEAMS"></app-page-header>
<mat-divider></mat-divider>
<div class="container">
  <mat-card *ngFor="let team of teams$ | async" (click)="goToTeam(team)">
    <mat-card-header>
      <mat-card-title>{{ team.fantasyGameName }}</mat-card-title>
      <mat-card-subtitle>{{ team.competitionName }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item>Name: {{ team.name }}</mat-list-item>
        <mat-list-item>Points: {{ team.totalPoints }}</mat-list-item>
        <!-- <mat-list-item>Rank: 7</mat-list-item> -->
      </mat-list>
    </mat-card-content>
  </mat-card>
  <mat-card class="join" (click)="openJoinDialog()">
    <div class="join-content">
      <span class="plus">+</span>
      <span>Join fantasy game</span>
    </div>
  </mat-card>
</div>