mat-card {
  min-width: 100px;
  min-height: 50px;
  width: 22%;
  background-color: #002b5c;
  color: white;
  border-radius: 0.4em;
}

mat-card-subtitle {
  color: aliceblue;
}

.mat-list-base .mat-list-item {
  color: aliceblue;
  height: 24px;
}

.container {
  margin: 1em;
  display: flex;
  gap: 1em;
  flex-flow: row wrap;
  align-content: start;
}

.join {
  display: flex;
  justify-content: center;
  align-items: center;
}

.join-content {
  text-align: center;
}

.join-content mat-icon {
  font-size: 40px;
  margin: auto;
}

.join-content span {
  display: block;
  font-size: 20px;
}

.join-content .plus {
  font-size: 60px;
}

mat-card:hover {
  cursor: pointer;
}