<form [formGroup]="joinForm" class="dialog" (ngSubmit)="onFormSubmit()">
  <div class="header">
    <h2>Join fantasy game</h2>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>Select league</mat-label>
    <mat-select formControlName="competition" (selectionChange)="onCompetitionChange()">
      <mat-option *ngFor="let competition of competitions$ | async" [value]="competition.id">
        {{competition.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Select fantasy game</mat-label>
    <mat-select formControlName="game">
      <mat-option *ngFor="let game of games$ | async" [value]="game.id">
        {{game.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Team name" id="name" type="text" formControlName="name" required>
    <mat-error>
      you must give a name
    </mat-error>
  </mat-form-field>
  <mat-error *ngIf="!resultValid">
    {{message}}
  </mat-error>
  <button mat-raised-button color="primary" [disabled]="!joinForm.valid">Join</button>
</form>