.dialog {
  text-align: center;
  padding: 16px;
}

.header {
  margin-bottom: 2em;
  text-align: center;
} 

mat-form-field {
  display: block;
  margin: 8px;
  min-width: 300px;
}

mat-error {
  margin-bottom: 1em;
}